.banner {
  color: #FFFFFF;
  background-color: #375437;
  min-height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 0.8125rem;
    color: #FFFFFF;
  }

}

.announcementCarousel {
  --announcementFontSize: 0.8125rem;
  --announcementDisplayHeight: calc(var(--announcementFontSize) + 0.4375rem);

  height: var(--announcementDisplayHeight);
  overflow: hidden;

  .announcement {
    font-size: var(--announcementFontSize);
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    animation-duration: 1s;

    &.first {
      color: inherit;
      position: relative;
      top: var(--announcementDisplayHeight);
    }

    &.second {
      color: inherit;
    }

    &.slideIn {
      animation-name: slideIn;
      animation-fill-mode: forwards;
    }

    &.slideOut {
      animation-name: slideOut;
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(0); /* Number of pixels to move the text below its parent.  */
  }
  100% {
    transform: translateY(calc(var(--announcementDisplayHeight) * -1));
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(calc(var(--announcementDisplayHeight) * -1));
  }
  100% {
    transform: translateY(calc((var(--announcementDisplayHeight) * 2) * -1));  
  }
}